<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>All Students List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">User ID</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.id %></td>
        <td>
          <%= link_to "Show", student %> |
          <%= link_to "Edit", edit_student_path(student) %> |
          <%= link_to "Delete", student, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %> </tbody>
</table>

<%= link_to "New student", new_student_path, class: "btn btn-secondary" %>
